<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zp.xuan.spring.scan.mapper.DbIobillMapper" >
  <resultMap id="BaseResultMap" type="com.zp.xuan.spring.scan.pojo.DbIobill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="types" property="types" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="counts" property="counts" jdbcType="INTEGER" />
    <result column="GOODS_ID" property="goodsId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, types, total, price, counts, GOODS_ID, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zp.xuan.spring.scan.pojo.DbIobillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_iobill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from db_iobill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from db_iobill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zp.xuan.spring.scan.pojo.DbIobillExample" >
    delete from db_iobill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zp.xuan.spring.scan.pojo.DbIobill" >
    insert into db_iobill (id, types, total, 
      price, counts, GOODS_ID, 
      status)
    values (#{id,jdbcType=BIGINT}, #{types,jdbcType=VARCHAR}, #{total,jdbcType=REAL}, 
      #{price,jdbcType=REAL}, #{counts,jdbcType=INTEGER}, #{goodsId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zp.xuan.spring.scan.pojo.DbIobill" >
    insert into db_iobill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="types != null" >
        types,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="counts != null" >
        counts,
      </if>
      <if test="goodsId != null" >
        GOODS_ID,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="types != null" >
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=REAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zp.xuan.spring.scan.pojo.DbIobillExample" resultType="java.lang.Integer" >
    select count(*) from db_iobill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update db_iobill
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.types != null" >
        types = #{record.types,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=REAL},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.counts != null" >
        counts = #{record.counts,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        GOODS_ID = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update db_iobill
    set id = #{record.id,jdbcType=BIGINT},
      types = #{record.types,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=REAL},
      price = #{record.price,jdbcType=REAL},
      counts = #{record.counts,jdbcType=INTEGER},
      GOODS_ID = #{record.goodsId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zp.xuan.spring.scan.pojo.DbIobill" >
    update db_iobill
    <set >
      <if test="types != null" >
        types = #{types,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=REAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="counts != null" >
        counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        GOODS_ID = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zp.xuan.spring.scan.pojo.DbIobill" >
    update db_iobill
    set types = #{types,jdbcType=VARCHAR},
      total = #{total,jdbcType=REAL},
      price = #{price,jdbcType=REAL},
      counts = #{counts,jdbcType=INTEGER},
      GOODS_ID = #{goodsId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>